extends templates/base

block content
  .container
    h1 Getting Away
    p See Taxis to Ferdinandshof at the bottom
    h2 Trains from Ferdinandshof to Berlin
    table.table
      tbody
        td Departure
        td Train
        td Arrival
        td Duration
        td Days
      tr
        td 5:22
        td RE 3303
        td 7:29
        td 2:07
        td Mo - Sa
      tr
        td 7:22
        td RE 3305
        td 9:29
        td 2:07
        td daily
      tr
        td 9:22
        td RE 3307
        td 11:28
        td 2:06
        td daily
      tr
        td 11:22
        td RE 3309
        td 13:29
        td 2:07
        td daily
      tr
        td 13:22
        td RE 3311
        td 15:29
        td 2:07
        td Mo - Thu; Sa
      tr
        td 13:22
        td RE 3367
        td 15:31
        td 2:09
        td Fr; Sun
      tr
        td 15:22
        td RE 3313
        td 17:30
        td 2:08
        td daily
      tr
        td 17:22
        td RE 3315
        td 19:26
        td 2:04
        td daily
      tr
        td 19:22
        td RE 3317
        td 21:29
        td 2:07
        td Sa; Sun
      tr
        td 19:34
        td RE 3317
        td 21:29
        td 1:55
        td Mo - Fr
      tr
        td 21:22
        td RE 3319
        td 23:33
        td 2:11
        td daily
      tr
        td 23:22
        td RE 3321
        td 1:36
        td 2:14
        td Fr; Sa




    h2 Taxis to Ferdinandshof
      h3 Tramp (Torgelow)
      p Taxi up to 4 persons (~20€)
      | Normally reachable until 22:00
      | 0171 / 7732180 or 03976 / 432990
      h3 Dörtz (Friedland)
      p Taxi up to 6 or 7 people (30€)
      | Reachable from 16:00 and Friday from 14:00 till Sunday Night
      | 039601 / 020177
      h3 Jahnke (Friedland)
      p Taxi up to 6 persons (ca. 20€)
      | Call 30 minutes in advance
      | 039601 / 26645