extends ./templates/base

block header
  .head-index.full-height
    nav
      .container
        h1.super-heading WORLDCONGRESS 2016
        ul.nav.nav-pills
          li
            a(href="http://mfg.hedo/") Ride sharing
          li
            a(href="chat.html") Congress chat
          li
            a(href="schedule.html") Schedule

block content
  h1 Hello World