extends ./templates/base

block header
  .head-index.full-height
    nav
      .container
        h1.super-heading WORLDCONGRESS 2016
        ul.nav.nav-pills
        include templates/navigation
block content
  h1 Hello World