extends ./templates/base

block header
  .head-index.full-height
    .container
      h1.super-heading WORLDCONGRESS 2016
      include templates/navigation
  div(style="clear: both")
block content
  .container
    h1 Hello World