extends ./templates/base

block header
  .head-index.full-height
    .container.white-content
      include templates/navigation
      h1.super-heading WORLDCONGRESS 2016
      p Welcome to the Worldcongress of the Hedonist International 2016!
      p You are looking at the internal landing page for participants. We set up this service to offer you some useful information. So scroll the schedule, organize ride shares and most important: Read the instruction leaflet. Enjoy!
