extends templates/base

block content
  .schedule(ng-controller="ScheduleController")
    .day-menu-wrapper
      .day-menu
        .day-button(ng-repeat="day in schedule.days")
          a.btn.btn-default(ng-class="{'btn-success': day.date == selectedDay.date}", ng-click="selectDay(day)") {{ day.date }}
    schedule-day(day="selectedDay")