extends ./templates/base

block content
    .container
      h1 Weather Forecast
      .weather(ng-controller="WeatherController")
        p Rainy hours are marked with a blue box
        .weather-box.col-md-3.col-sm-4.col-xs-12(ng-repeat="day in weather.forecast")
          .title.col-md-12.col-md-12.col-xs-12
            img.icon(ng-src="/res/img/weather/{{day.icon}}")
            .content
              .date {{day.date.toDateString()}}
              .text {{day.day.info}}
              .celcius {{day.day.mintemp_c}}째C - {{day.day.maxtemp_c}}째C
              .fahrenheit {{day.day.mintemp_f}}째F - {{day.day.maxtemp_f}}째F

          span Rain/Sun
          .rain-box
            .rainbool(ng-repeat="hour in day.hour track by $index", class="rainbool-{{ hour.will_it_rain }}")
          .sun-box
            .night(style="flex:{{ day.sunbox.sunrise }};")
            .sunchange {{ day.sunrise }}
            .day(style="flex:{{ day.sunbox.sunset }};")
            .sunchange {{day.sunset}}
            .night(style="flex:{{ day.sunbox.night }};")
          .scale-box
            .hour(ng-repeat="hour in hour_scale") {{ hour }}