doctype
html
  head
    link(rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/styles/main.css")
    script(src="/libs/jquery/jquery-2.2.4.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
  body
    .wrapper
      block header
        .head-index
          nav
            .container
              .copllapse
                ul.nav.nav-pills
                  li
                    a(href="http://mfg.hedo/") Ride sharing
                  li
                    a(href="chat") Congress chat
                  li
                    a(href="schedule") Schedule
      main
        .container
          block content