doctype
html(ng-app="hedodash")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    link(rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/styles/main.css")
    script(src="/libs/jquery/jquery-2.2.4.min.js")
    script(src="/libs/sockjs/sockjs.min.js")
    script(src="/config.js")
    script(src="/libs/angular/angular.min.js")
    script(src="/libs/angular-local-storage/angular-local-storage.min.js")
    script(src="/libs/bootstrap-ui/ui-bootstrap-tpls-0.14.0.min.js")
    script(src="/libs/lodash/lodash.min.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    script(src="/libs/hedodash/schedule.js")
    script(src="/libs/hedodash/weather.js")
  body
    .wrapper
      block header
        .head-index
          .container
            include navigation
      main
        block content